p
h3 class="text-center"= t('shared.nav.about')
p class="text-center fs-5"= 'Наш магазин предоставляет услуги по подбору и продаже велосипедов, запчастей и специальной экипировки.'
p class="text-center fs-5"= 'Постоянным покупателям действуют скидки!'
p class="text-center fs-5"= 'Ссылки на нас: '
p class="text-center"= link_to 'Вконтакте', 'https://vk.com/khalt0'
p class="text-center fs-5"= 'Телефон: +71112223344'
